.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
  text-align: left;
  margin-bottom: 15px;
}

#AdminTable td, #AdminTable th {
  text-align: center;
  vertical-align: middle;
}

#customPagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#customPagination .paginate_button {
  margin: 0 15px;
  cursor: pointer;
}

#customPagination .paginate_button.current {
  font-weight: bold;
}

#AddAdmin{
  margin-top: 10px;
  margin-bottom: 10px;
}

#passwordStatus {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.criteria {
  display: flex;
  align-items: center;
  gap: 5px;
}

.indicator {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}
