.info {
    display: inline-block; /* or "flex" */
    margin-right: 10px;
}

.edit-button {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #d7feec;
    align-self: flex-end;
    --bs-btn-bg: #d7feec; 
    --bs-btn-hover-bg: #bde6d4;
}

.info-container input, .info input{
    color: #7b828a;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #eeeeee;
    height: 40px;
    width: 300px
}

.info-container input:focus, .info input:focus {
    outline: none;
    border-color: inherit;
}

#basic-info {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    position: relative;
    height: 200px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info {
    flex: 1;
}

.section{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.change-button{
    margin: 20px 0px 20px 0px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    min-width: 180px;
    height: 70px;
}