#passwordStatus {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .criteria {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .indicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
  }

.toggle-password{
  background-color: #ffffff;
}

.btn.toggle-password:focus, .btn.toggle-password:active, .btn.toggle-password:hover{
  background-color: #ffffff; 
}

#passwordStatus div, #passwordStatus a {
  margin: 0 !important;
}