    .table-icon span, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-btn {
    background-color: #D7FEEC;
    margin-left: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .show-archived-div {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    text-align: left;
    margin-bottom: 15px;
  }
  
  #InventoryTable td, #InventoryTable th {
    text-align: center;
    vertical-align: middle;
  }
  
  #customPagination {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  #customPagination .paginate_button {
    margin: 0 15px;
    cursor: pointer;
  }
  
  #customPagination .paginate_button.current {
    font-weight: bold;
  }