.container-fluid{
  height: 100vh;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAF9F6;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
  'wght' 400,
  'opsz' 48;
  font-size: 38px;
}

.input-icon{
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 20px; /* Adjust as needed */
  transform: translateY(-50%);
}

.table-icon{
  font-size: 32px;
}

.icon{
  display: flex;
  align-items:center;
}

.logo-img{
  max-width: 180px;
  object-fit: cover;
}



#sidebar {
  position: relative;
  height: 100vh; /* Full height */
}

#sidebar-nav{
  width: 320px;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(180deg, #9cd49c, #20e7bf);
}

#sidebar-nav .logo{
  background: transparent;
  padding: 15px 0 15px 0;
}

.list-group a{
  max-height: 65px;
  max-width: 230px;
  color: #181818;
  font-size: 16px;
  background: transparent;
  font-weight: bold;
  display: flex;
  justify-content: start;
  align-items: center;
}

.text-center{
  flex-grow: 1;
  text-align: center;
}

.list-group span{
  margin: 10px 0 10px 0;
}

.list-group-item{
  width: 100%;
  height: 100%;
  margin: 20px 0 20px 0;
}

.list-group-item:hover {
  background-color: rgba(215, 254, 236, 0.5);
  border-radius: 20px;
  cursor: pointer;
}

.list-group-item.active {
  color: #181818;
  background-color: #D7FEEC;
  border-radius: 20px;
}

main {
  max-height: 100vh;
  overflow: auto;
}

.content{
  position: relative;
  padding: 0px 30px 30px 30px;
}

#menu-button {
  color:#181818;
}

#menu-button span{
  background-color: #9cd49c;
  border-radius: 0 50% 30% 0;
  margin-top: 50px;
  padding: 10px;
}

.page-header{
  margin: 90px 0 30px 0;
}

.search-div {
  min-height: 45px;
  position: relative;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 4px #181818);
}

#customSearch{
  width: 100%;
  border: 0.5px solid #181818;
  border-radius: 15px;
  padding: 10px 30px 10px 50px;
}

#customSearch:focus {
  outline: none;
}

.add-btn {
  margin-left: auto;
  border: 0.2px solid #181818;
  background-color: #D7FEEC;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px #181818);
}

.show-archived-div{
  margin-bottom: 30px;
  text-align: left;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
  text-align: left;
  margin-bottom: 15px;
}

#InventoryTable td, #InventoryTable th {
  text-align: center;
  vertical-align: middle;
}

#customPagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#customPagination .paginate_button {
  margin: 0 15px;
  cursor: pointer;
}

#customPagination .paginate_button.current {
  font-weight: bold;
}

#snackbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  bottom: 30px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 400px;
  height: 50px;
  background-color: #333;
  color: #FAF9F6;
  text-align: center;
  line-height: 50px;
  visibility: hidden;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#snackbar.hide {
  visibility: hidden;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

#snackbar-message {
  padding-left: 20px;
  max-width: 80%;
  height: 50px; 
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

@media (max-width: 768px) {
  .logo-img {
      width: 150px; /* Increase the width for mobile devices */
      height: 150px; /* Increase the height for mobile devices */
  }
  .material-symbols-outlined {
    font-size: 20px;
  }
  #sidebar-nav{
    width: 180px;
  }
  .list-group a{
    max-height: 65px;
    max-width: 150px;
    color: #181818;
    font-size: 15px;
  }
  .list-group span{
    margin: 10px 5px 10px 5px;
  }
  .list-group-item{
    margin: 20px 0 20px 0;
  }
  .content{
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
  }
  #snackbar {
    width: 70%; /* Make the snackbar take up 90% of the screen width */
    left: 50%; /* Center the snackbar */
    transform: translateX(-50%); /* Adjust position to center */
    font-size: 14px; /* Reduce the font size */
  }
  .snackbar-message {
    font-size: 14px; /* Reduce the font size */
  }
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

