body
{
    background: url(../Images/Login_BG.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center {
    min-width: 30vw;
}

.center div, .center a{
    margin: 3vh 0 3vh 0;
}

.center form{
    width: 100%;
}

.center img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}

#snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 400px;
    height: 50px;
    background-color: #333;
    color: #FAF9F6;
    text-align: center;
    line-height: 50px;
    visibility: hidden;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  
  #snackbar.hide {
    visibility: hidden;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  #snackbar-message {
    padding-left: 20px;
    max-width: 80%;
    height: 50px; 
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

@media (max-width: 768px) {
    .center img {
        width: 50vw;
        height: 50vw;
    }
    .center{
        min-width: 70vw;
    }
    #snackbar {
        width: 70%; /* Make the snackbar take up 90% of the screen width */
        left: 50%; /* Center the snackbar */
        transform: translateX(-50%); /* Adjust position to center */
        font-size: 14px; /* Reduce the font size */
      }
      .snackbar-message {
        font-size: 14px; /* Reduce the font size */
      }
}